<h1>Give your teammates feedback</h1>
<% @users.each do |user| %>
  <li>
    <%= user.name %> (<%= link_to "Review a partner", new_group_response_path(group_id: params[:id], reciever_id: user.id) %>)
  </li>
  <% end %>
</ul>
